html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 80px 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.scores-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.score-container, .best-container {
  padding: 10px 24px;
  border-radius: 3px;
  background: #bbada0;
}

.score-container {
  margin-right: 10px;
}

p.score-title {
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  color: #eee4da;
  font-size: 15px;
}

p.score {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

h1.title {
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}

.game-controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p.game-intro {
  margin: 0;
}

#btn-restart {
  height: 48px;
  line-height: 48px;
  border-radius: 3px;
  padding: 0 20px;
  background: #8f7a66;
  color: #f9f6f2;
  cursor: pointer;
}

.game-container {
  position: relative;
  padding: 15px;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  margin-top: 40px;
  box-sizing: border-box;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row::after {
  content: '';
  display: block;
  clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, .35);
}

.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile, .tile .tile-inner {
  width: 107px;
  height: 107px;
  line-height: 107px;
}

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.tile .tile-inner {
  border-radius: 3px;
  background: #eee4da;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 55px;
}

.tile.tile-position-0-0 {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.tile-position-0-1 {
  -webkit-transform: translate(0px, 121px);
  transform: translate(0px, 121px);
}

.tile.tile-position-0-2 {
  -webkit-transform: translate(0px, 242px);
  transform: translate(0px, 242px);
}

.tile.tile-position-0-3 {
  -webkit-transform: translate(0px, 363px);
  transform: translate(0px, 363px);
}

.tile.tile-position-1-0 {
  -webkit-transform: translate(121px, 0px);
  transform: translate(121px, 0px);
}

.tile.tile-position-1-1 {
  -webkit-transform: translate(121px, 121px);
  transform: translate(121px, 121px);
}

.tile.tile-position-1-2 {
  -webkit-transform: translate(121px, 242px);
  transform: translate(121px, 242px);
}

.tile.tile-position-1-3 {
  -webkit-transform: translate(121px, 363px);
  transform: translate(121px, 363px);
}

.tile.tile-position-2-0 {
  -webkit-transform: translate(242px, 0px);
  transform: translate(242px, 0px);
}

.tile.tile-position-2-1 {
  -webkit-transform: translate(242px, 121px);
  transform: translate(242px, 121px);
}

.tile.tile-position-2-2 {
  -webkit-transform: translate(242px, 242px);
  transform: translate(242px, 242px);
}

.tile.tile-position-2-3 {
  -webkit-transform: translate(242px, 363px);
  transform: translate(242px, 363px);
}

.tile.tile-position-3-0 {
  -webkit-transform: translate(363px, 0px);
  transform: translate(363px, 0px);
}

.tile.tile-position-3-1 {
  -webkit-transform: translate(363px, 121px);
  transform: translate(363px, 121px);
}

.tile.tile-position-3-2 {
  -webkit-transform: translate(363px, 242px);
  transform: translate(363px, 242px);
}

.tile.tile-position-3-3 {
  -webkit-transform: translate(363px, 363px);
  transform: translate(363px, 363px);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
          animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
          animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
